.hero__subtitle {
  margin-bottom: 4rem;
}

.hero__scroll-text {
  position: relative;
  background-color: var(--secondary-color);

  margin-bottom: 0.5rem;
  padding: 0.75rem 0;
}

.hero__scroll-text-r {
  display: inline-block;
  animation: 10s scrollRight infinite linear;
}

.hero__scroll-text-r span {
  font-size: var(--fs-s);
  font-weight: var(--fw-body-l);
  color: var(--fc-black);
  margin: 0 4rem;
}

.hero__scroll-text-l {
  display: inline-block;
  animation: 10s scrollLeft infinite linear;
}

.hero__scroll-text-l span {
  font-size: var(--fs-s);
  font-weight: var(--fw-body-l);
  color: var(--fc-black);
  margin: 0 4rem;
}

/* Scroll Fade Effect */
.hero__scroll-text::before,
.hero__scroll-text::after {
  content: "";
  position: absolute;
  top: 0;
  width: 5rem;
  height: 100%;
  z-index: var(--scroll-text-z-index);
}

.hero__scroll-text::before {
  left: 0;
  background: linear-gradient(to left, transparent, var(--secondary-color));
}

.hero__scroll-text::after {
  right: 0;
  background: linear-gradient(to right, transparent, var(--secondary-color));
}

/* SCROLL ANIMATION */
@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes scrollRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
