.about__container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.about__section {
  width: 85vw;
  height: 85vh;

  display: grid;
  grid-template-columns: 0.7fr 1fr 0.1fr;
  gap: 1rem;

  margin-top: 2rem;
}

.about__left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  align-items: flex-start;
}

.about__title {
  color: var(--fc-white);
  font-weight: var(--fw-head-xl);
  font-family: var(--headline-font);
  font-size: var(--fs-xl);

  background-color: var(--primary-color);
  padding: 0.25rem 5rem 0.25rem 1rem;
}

.about__subtitle {
  color: var(--fc-black);
  font-weight: var(--fw-head-l);
  font-family: var(--headline-font);
  font-size: var(--fs-xs);

  background-color: var(--secondary-color);
  padding: 0.25rem 1rem;
  margin-top: 0.25rem;
}

.about__introduction {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  font-weight: var(--fw-body-s);
  font-size: var(--fs-xs);
}

.about__intro-02 {
  color: var(--fc-grey);
}

.about__middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__image img {
  width: 400px;
  height: auto;
}
